<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EPPlus.Interfaces" version="6.1.1" targetFramework="net472" />
  <package id="EPPlus.System.Drawing" version="6.1.1" targetFramework="net472" />
  <package id="MVC_PPC_Theme_ByTom" version="1.4.1" targetFramework="net472" />
</packages>